<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iniciar sesion  - Iniciar Sesión</title>
    <link rel="stylesheet" href="/styles - css/styleAdmin.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/assets/img/icon.MiGuardia.jpg" alt="MiGuardia">
            <h1>MiGuardia</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="/nosotros">Sobre nosotros</a></li>
            </ul>
        </nav>
    </header>
    <div class="login-container">
        <div class="register-link">
            <a href="/user/registerUser">Registro de Usuario</a>
        </div>
        <h2>Iniciar Sesión</h2>
        <p>Inicia sesión con tu cuenta en MiGuardia</p>
        <form id="loginForm" method="GET" action="index.html">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Ingresar</button>
        </form>
        <p class="forgot-password">¿Olvidaste tu contraseña? <a href="#">Recuperar Contraseña</a></p>
        <p id="error-message" class="error-message"></p>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>Nosotros</h3>
                <ul>
                    <li><a href="#">Descripción</a></li>
                    <li><a href="#">Equipo</a></li>
                    <li><a href="#">Herramientas</a>
                    </li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Acerca de</h3>
                <ul>
                    <li><a href="#normas">Normas</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Inicia sesión</h3>
                <ul>
                    <li><a href="#">Registro</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">informacion</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event)
{
    event.preventDefault();

    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;
    const errorMessage = document.getElementById('error-message');

    if (email === 'admin@miguardia.com' && password === 'miGuardia') {
        errorMessage.textContent = '';
        alert('Inicio de sesión exitoso');
        window.location.href = '../../Admin/index.html';
    } else {
        errorMessage.textContent = 'Email o contraseña incorrectos';
    }
});
    </script>


</body>
</html>
