<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles - css/styles.css">
    <link rel="stylesheet" href="/styles - css/stylesNosotros.css">
    <title>Equipo de Trabajo</title>
</head>
<body>
    <header>
        <img src="/assets/img/icon.MiGuardia.jpg" alt="MiGuardia" class="logo">
        <h1>MiGuardia</h1>
        <nav>
            <a href="#">Nosotros</a>
            <a href="#">Contacto</a>
        </nav>
        <div class="user-options">
            <button onclick="location.href='admin/login'">Iniciar Sesión</button>
            <button onclick=" location.href='user/registerUser'">Crear tu cuenta</button>
        </div>
    </header>

    <main>

        <h1 class=" nosotros-titulo">Equipo de Trabajo</h1>
                <section class="contenedor-cards">
                    <div class="integrante-card">
                        <img src="/assets/img/agustinaruiz.jpeg" alt="imagen de perfil - Agustina Ruiz">
                        <h3>Agustina Ruiz</h3>
                        <p>Estudiante de Fundacion Pescar y Educacion IT</p>
                    </div>

                    <div class="integrante-card">
                        <img src="/assets/img/angelaventura.jpeg" alt="imagen de perfil - Angela Ventura">
                        <h3>Angela Ventura</h3>
                        <p>Estudiante de Fundacion Pescar y Educacion IT</p>
                    </div>

                    <div class="integrante-card">
                        <img src="/assets/img/axelleguero.jpeg" alt="imagen de perfil - Axel Leguero">
                        <h3>Axel Leguero</h3>
                        <p>Estudiante de Fundacion Pescar y Educacion IT</p>
                    </div>

                    <div class="integrante-card">
                        <img src="/assets/img/lisandrocorrales.jpeg"
                            alt="imagen de perfil - Lisandro Corrales">
                        <h3>Lisandro Corrales</h3>
                        <p>Estudiante de Fundacion Pescar y Educacion IT</p>
                    </div>

                    <div class="integrante-card">
                        <img src="/assets/img/matiasdelsenior.jpg" alt="imagen de perfil - Matias del Señor">
                        <h3>Matias del Señor</h3>
                        <p>Estudiante de Fundacion Pescar y Educacion IT</p>
                    </div>

                    <div class="integrante-card">
                        <img src="/assets/img/silviogonzalez.jpeg" alt="imagen de perfil - Silvio Gonzalez">
                        <h3>Silvio Gonzalez</h3>
                        <p>Estudiante de Fundacion Pescar y Educacion IT</p>
                    </div>
                </section>

                <section class="contenedor-agradecimientos">
                    <h2>En agradecimiento a...</h2>
                    <div class="contenedor-logos-fundacion">
                        <img src="/assets/img/logo-fundacion pescar.png" alt="" srcset="">
                        <img src="/assets/img/logo-JPMorgan.png" alt="" srcset="">
                    </div>
                </section>
                </main>

                <footer class="footer">
                    <div>
                        <h2>MI GUARDIA</h2>
                        <div class="iconos-web">
                            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                            <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
                            <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
                        </div>
                    </div>
                    <div class="columna">
                        <h2>Nosotros</h2>
                        <ul>
                            <li><a href="#">Descripción</a></li>
                            <li><a href="#">Equipo</a></li>
                            <li><a href="#">Herramientas</a></li>
                        </ul>
                    </div>
                    <div class="columna">
                        <h2>Acerca de</h2>
                        <ul>
                            <li><a href="#">Normas</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="columna">
                        <h2>Inicia sesión</h2>
                        <ul>
                            <li><a href="#">Registro</a></li>
                            <li><a href="#">Ayuda</a></li>
                            <li><a href="#">Información</a></li>
                        </ul>
                    </div>
                </footer>
                <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>
