<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="../styles - css/styles.css">
    <link rel="stylesheet" href="../styles - css/register.css">
    <link rel="shortcut icon" href="../assets/icons/logo.jfif" type="image/x-icon">
</head>
<body>
    <header class="header">
        <img src="/assets/img/icon.MiGuardia.jpg" alt="MiGuardia" class="logo">
        <h1>MiGuardia</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/nosotros">Nosotros</a>
            <a href="#">Contacto</a>
        </nav>
        <div class="user-options">
            <button><a href="../admin/login">Iniciar Sesión</a></button>

        </div>
    </header>
    <main class="main">
        <div class="access">
            <button class="altern"><a href="../admin/login">Acceso a MiGuardia</a>
                <img src="../assets/icons/forward.svg" width="30px" alt="">
            </button>
        </div>
        <div class="register">
            <h1 class="title">Registrarse</h1>
            <h3 class="text">Crea tu usuario en MiGuardia</h3>
            <form action="/registerUser" class="form" method="POST">
                <div class="row">
                    <div class="column">
                        <label for="name">Nombre</label>
                        <input type="text" id="name" name="name" required class="half" autofocus>
                    </div>
                    <div class="column">
                        <label for="lastname">Apellido</label>
                        <input type="text" id="lastname" name="lastname" required class="half">
                    </div>
                </div>
                <label for="mail">Email</label>
                <input id="mail" type="email" name="email" placeholder="email@janesfakedomain.net" required>
                <label for="pass">Contraseña</label>
                <input id="pass" type="password" name="password" required placeholder="********">
                <label for="pass2">Repita su contraseña</label>
                <input id="pass2" type="password" required placeholder="********">
                <button class="create" type="submit">Crear cuenta</button>
            </form>

            <div class="row half">
                <div class="column"><p class="info"><a class="info" href="#">¿Tienes una cuenta? Inicia Sesión aquí</a></p></div>
                <div class="column"><p class="info"><a class="info" href="#">¿Olvidaste la contraseña? Recuperala aquí</a></p></div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div>
            <h2>MI GUARDIA</h2>
            <div class="iconos-web">
                <a href="#"><img src="/assets/icons/brand-facebook.svg" alt="facebook"></a>
                <a href="#"><img src="/assets/icons/brand-instagram.svg" alt="instagram"></a>
                <a href="#"><img src="/assets/icons/brand-linkedin.svg" alt="linkedin"></a>
                <a href="#"><img src="/assets/icons/brand-youtube.svg" alt="youtube"></a>
            </div>
        </div>
        <div class="columna">
            <h2>Nosotros</h2>
            <ul>
                <li><a href="#">Descripción</a></li>
                <li><a href="#">Equipo</a></li>
                <li><a href="#">Herramientas</a></li>
            </ul>
        </div>
        <div class="columna">
            <h2>Acerca de</h2>
            <ul>
                <li><a href="#">Normas</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div class="columna">
            <h2>Inicia sesión</h2>
            <ul>
                <li><a href="#">Registro</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Información</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
