*{
    margin: 0;
    box-sizing: border-box;
}
.name{
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;   
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    grid-template-rows: repeat(2, 200px);  /* 2 filas de 200px cada una */
    gap: 10px; /* Espacio entre grillas */
    padding: 10px; 
    font-family: "Inter", sans-serif ;
    font-size: 13px;
    color: white;
}

.grid-item {
    /* background-color: lightblue;
    border: 2px solid darkblue;
    text-align: center; */
    justify-content: center;
    align-content: center;
    /* font-size: 24px; */
    padding: 20px;
}

.btn{
    
    
    padding: 15px 80px;
    border: 2px solid #2E8B7A;
    background-color: #fff;
    border-radius: 50px;
}
.btn:hover {
    transition: background-color .75s ease;
    background-color: #2E8B7A;
}
.icons{
    
    
    width: 12px;
    height: 12px;
}

.btn.primary{

}

.btn.secundary{

}
#comments-container {
    max-height: 300px; 
    overflow-y: auto; /* Activar el scroll vertical */
    margin-bottom: 20px;
    padding-right: 10px; /* Espacio para el scroll */
    box-sizing: border-box;
}

.comments-section {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.comments-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment img {
    border-radius: 50%;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.comment-details {
    flex: 1;
}

.comment-details h4 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.comment-details p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

.comment-details .comment-date {
    font-size: 12px;
    color: #aaa;
}
