
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    font-size: 13px;
    color: white;
}
.title, .text{
    text-align: center;
    padding: 10px;
    color: black;
}
.main{
    background-color: #D9D9D9;
    padding:0px 50px 20px;
}
.access{
    height: 70px;
}
.register{
    background: linear-gradient(#23977B, #012b30 93%, #00272d 100%);
    width: 575px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.altern{
    background-color: #00272D;
    color: white;
    border-radius: 50%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 135px;
    width: 135px;
    position: relative;
    top: 25px;
    left: 63%;
}
.altern a{
    color: white;
    text-decoration: none;
}
.form{
    display: flex;
    flex-direction: column;
    color: white;
    gap:5px

}
.row{
    display: flex;
    gap: 10px;
}
.column{
    display: flex;
    flex-direction: column;
}
.column p{
    line-break: normal;
}
.form input{
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    height: 25px;
}
.create{
    border: none;
    background-color: #2E8B7A;
    color: white;
    border-radius: 5px;
    width: 40%;
    margin: 15px auto;
    padding: 10px 5px;
}
.create input{
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
}
.create:hover{
    background-color: #00272d;
    color: #23977B;
    border: 1px solid white;
}
.column .half{
    width: 100%;
}
.half{
    width: 62%;
    margin-top: 10px;
}
.info{
    text-decoration: none;
    color: white;
    font-size: 9px;
}
.info a:hover{
    color: blue;
}
