
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    font-size: 13px;
    color: white;
}
.title, .text{
    text-align: center;
    padding: 10px;
    color: black;
}
.main{
    background-color: #D9D9D9;
    /*padding:0px 50px 20px;*/
}
.access{
    height: 70px;
}
.register{
    background:#23977B;
    width: 575px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.altern{
    background-color: #00272D;
    color: white;
    border-radius: 50%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 135px;
    width: 135px;
    position: relative;
    top: 25px;
    left: 63%;
}
.altern a{
    color: white;
    text-decoration: none;
}
.form{
    display: flex;
    flex-direction: column;
    color: white;
    gap:5px

}
.row{
    display: flex;
    gap: 10px;
}
.column{
    display: flex;
    flex-direction: column;
}
.column p{
    line-break: normal;
}
.form input{
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    height: 25px;
}
.create{
    border: none;
    background-color: #2E8B7A;
    color: white;
    border-radius: 5px;
    width: 40%;
    margin: 15px auto;
    padding: 10px 5px;
}
.create input{
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
}
.create:hover{
    background-color: #00272d;
    color: #23977B;
    border: 1px solid white;
}
.column .half{
    width: 100%;
}
.half{
    width: 62%;
    margin-top: 10px;
}
.info{
    text-decoration: none;
    color: white;
    font-size: 9px;
}
.info a:hover{
    color: blue;
}
div {
    margin: 15px 0;
    text-align: center;
}
/*
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
.title{
    font-family: "Inter", sans-serif;

}
p{
    color: green;
}
.logo{
    border-radius: 50%;
    width: 40px;
    height: 40px;

}
.brand{
    display: flex;
    gap: 5px;
}
.header{
    width: 100%;
    height: 221px;
    background-color: #23977B;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
}
li{
    padding: 4px;
}
.anchor{
    color: black;
    text-decoration: none;
}
.anchor:hover{
    background-color: #1A5A4E;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}
.search{
    width: 98%;
    display: flex;
    overflow: hidden;
}
.bar{
    width: 430px;
    height:52px;
    outline: none;
    border-radius: 80px;
    border: 1px solid black;
    padding-left: 80px;
}
.btn{
    position: relative;
    right: 25px;
    padding: 13px 40px;
    border-radius: 35px;
    border: 1px solid black;
    background-color: #d9d9d9;
    height: 52px;
}*/
